<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\eelke\OAMK\Coursera Back-end developer\Back-End Capstone\littlelemon\LittleLemon\littlelemon\restaurant\static\css\style.css">
    <title>Capstone project</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to LittleLemon Restaurant</h1>
    <img src="{% static 'img/logo.png' %}" style="margin: auto; display: flex;">
</body>
</html>